@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
header{
     width:100%;
     height: 100vh;
     background-image:url(cloud2.jpg);
     background-size: cover;
     font-family: 'Poppins',sans-serif;
}
nav{
    width: 100%;
    height:100px;

    color: #fff;
    display: flex;
    justify-content: space-around;
    align-items: center;

}
.logo{
    font: size 8em;
    letter-spacing: 4px;
    background: indianred;
}
.menu a{
    text-decoration: none;
    color: #fff;
    padding: 10px 20px;
    font-size: 20px;
    background: #18cc45;
}
.menu a:hover{
    border:1px solid indianred;
    background: transparent;
}
.register a{
    text-decoration: none;
    color: #fff;
    padding: 10px 20px;
    font-size: 20px;
    border-radius: 8px;
    background: indianred;

}
.register a:hover{
    border: 30px solid indianred;
    background: transparent;
}
.h-text{
    position:absolute;
    top: 40%;
    left: 30%;
    max-width: 950px;
    transform: translate(70%,-50%);
    text-align: center;
    color: #fff;
     

}
.h-text span{
    letter-spacing: 10px;
}
.h-text h1{
    font: size 5.5em; 
}
.h-text a{
    text-decoration: none;
    background: indianred;
    padding:10px 20px;
    color: #fff;
    letter-spacing: 9px;
    transition: 0.4s;
}
 .h-text a:hover{
    border:1px solid indianred;
    background: transparent;
 }